<nav class="navbar navbar-expand-md fixed-top header">
    <img src="assets/burger.svg" alt="">

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
          <img src="assets/synel-logo-1.svg" alt="">
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <img src="assets/user.svg" class="user-img" alt="">
          Yisrael Yisraeli
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <small>Payroll month: </small> <b>10/2020</b>
        </a>
      </li>
    </ul>
  </div>

  <div class="header__right">
    <p class="header__p">
      Customer:<br>
      Factory:
    </p>
    <p class="header__p">
      35 | Customer name <br>
      1200 | SSD
    </p>
    <a href="" class="header__right__a--margin">
      POWERED BY
      <img src="assets/synel-logo-2.svg" alt="">
    </a>
  </div>
</nav>
