<app-breadcrumb></app-breadcrumb>
<h3>Employees(2,500)</h3>
<div class="row">
  <div class="col-7">
    <div class="row filter">
      <div class="col-3 filter__search-text">
        <div class="form-group">
          <input type="text" readonly class="form-control" id="staticEmail" value="email@example.com">
        </div>
      </div>
      <div class="col-3 filter__search-status">
        <div class="form-group row">
          <label for="staticEmail" class="col-sm-2 col-form-label">Status</label>
          <div class="col-sm-10">
            <input type="text" readonly class="form-control" id="staticEmail" value="email@example.com">
          </div>
        </div>
      </div>
      <div class="col-6 filter__search-organization-level">
        <div class="form-group row">
          <label for="staticEmail" class="col-sm-4 col-form-label">Organization level</label>
          <div class="col-sm-8">
            <input type="text" readonly class="form-control" id="staticEmail" value="email@example.com">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-5">

  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="row"></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td scope="row"></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
